<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <% if params[:tag].present? %>
      <div class="col-md-12">
        Videos tagged <%= params[:tag] %>
        <%= link_to 'Clear', root_path %>
      </div>
    <% end %>
    <div class="col-md-8">
      <h1>Your Videos</h1>
    </div>
    <div class="col-md-4 text-right">
      <%= link_to 'New Video', new_video_path, class: 'btn btn-md btn-warning' %>
    </div>

    <div class="col-md-12">
      <% @videos.each do |video| %>
        <%= render 'card', video: video %>
      <% end %>

    </div>
  </div>
</div>


