<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <p id="notice"><%= notice %></p>

      <p class="lead">
        <%= link_to @board.name, @board %>
      </p>

      <%= link_to 'Edit', edit_board_path(@board) %> |
      <%= link_to 'Delete', @board, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Add a Video', add_board_path %>
    </div>

    <div class="col-md-12">
      <% @videos.each do |video| %>
        <%= render 'videos/card', video: video %>
      <% end %>
    </div>

  </div>
</div>


